{% load mptt_tags %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        ul{
            list-style: none;
        }
    </style>
</head>
<body>

    <div id="replace">
        {{htmltag|safe}}

    </div>

    <hr>
    
   
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <script>
        $(document).on('click', "li a", function(){
            $(".catparent").remove();
            let a = $(this).attr('id');
            $(this).after("<div class='catparent'><input class='catvalue' type='text' data-id='" + a +"'><input class='catsave' type='submit' value='Save'/>  </div>")
            console.log(a);
        });
        $(document).on('click', ".catsave", function(){
            let catName = $(this).parent().find('.catvalue').val();
            let catid = $(this).parent().find('.catvalue').attr('data-id');
            $(this).parent().remove();

            console.log(catName, catid);

            categoryData = {catName: catName, catId: catid}

            $.ajax({
                
                url: "{% url 'save-category' %}",
                method: 'POST',
                data: categoryData,
                success: function(data){
                    console.log(data);


                    $("#replace").html(data.htmltag);
                }
                
            });
        });
    </script>

</body>
</html>