{% load mptt_tags %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{genres}}</h1>
    <h1>{{gen}}</h1>

    <ul>
        {% recursetree genres %}
            <li>
                {{ node.name }}-{{node.id}}
                {% if not node.is_leaf_node %}
                    <ul class="children">
                        {{ children }}-{{children.id}}
                    </ul>
                {% endif %}
            </li>
        {% endrecursetree %}
    </ul>
</body>
</html>